<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
  
</head>
<body>
  <%- include('partials/navbar') %>
 
  
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      
        <div>
          <img class="w-full rounded-lg" src= <%= set.img_url %> alt=" Set Image">
  
        </div><div class="prose">
  
         <p>
          <span class="font-bold">Set Name: </span><%= set.name %> <br>
          <span class="font-bold">Year Released: </span>  <%= set.year %> <br>
          <span class="font-bold">Theme: </span>  <%= set.theme_id %> <br>
          <span class="font-bold">Number of Parts: </span> <%= set.num_parts %> <br><br>
  
                  <a href ="/lego/editSet/<%= set.set_num %>" class="btn btn-warning btn-sm">EDIT SET</a>

            <a href ="/lego/deleteSet/<%= set.set_num %>" class="btn btn-danger btn-sm" >DELETE SET</a>
                  <a href=" /lego/deleteSet/<%= set.set_num %>"  class="btn btn-success btn-sm" href="#" onclick="history.back(); return false;">RETURN</a>
         </p>
  
        </div>
  
      </div>
</body>

</html>
